node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
README.md
README_DOCKER.md
.DS_Store
# dist - KHÔNG ignore vì cần copy vào Docker image
coverage
.nyc_output
*.log
.vscode
.idea
*.swp
*.swo
*~
.eslintcache

